<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <div>
     <style src=""></style>
<!--     <style>-->

<!--         h1 {-->
<!--             color: maroon;-->
<!--             margin-left: 40px;-->
<!--         }-->

<!--         .count {-->
<!--             color: green;-->
<!--         }-->
<!--     </style>-->
     <h1>My view</h1>
     <h1 class="count" id="count">0</h1>
 </div>
</body>
</html>
