.navPanel {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;
  }
}

.settingsDialog {
  height: 100vh!important;

  .drawerBodyCustom {
    margin: 0px!important;
    height: 100%!important;
  }
}
